* {
    box-sizing: border-box;
}

body,html {
    margin: 0;
    padding: 0;
    min-height: 100svh;
}

body{
    display: flex;
    grid-template-columns: 300px, 1fr;
}

aside{
    padding: 1rem;
    .branding{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    .branding span{
        font-size: 5rem;
    }
}
nav{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        
}

nav span{
    vertical-align: middle;
}

nav a{
    text-decoration: none;
    color: black;
    transition: .2;

    &:hover{
        color: gray;
    }
}
main{
    padding: 3rem 1rem;
    .seach-bar{
        display: flex;
        border: 2px solid black;
        border-radius: 5%;
        overflow: clip;
    }
    .seach-bar button{
        cursor: hover;
    }
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 2rem;
    
    tr{
    border-bottom: 2px solid rgb(0, 0, 0);

}>*{
    padding: 0rem;
}
}


table,th,tr,td,thead{
    border: 1px solid black;
}